#slider{
    width: 500px;
    height: 400px;
    object-fit: contain;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#prevButton{
    color: lightgray;
}

#nextButton{
    color: black;
}

button{
    background-color: aqua;
    margin: 20px;
    border: none;
    display: flex;
    height: 50px;
    width: 8%;
    justify-content: center;
    box-shadow: 2px 3px 4px #BBBBBB;
    border-radius: 5px;
    outline:none;
}

button:hover {
    background-color: orange;
    height: 100px;
}
button {
    transition: background-color 0.5s linear 0s;
    transition: height 0.5s linear 0s;
}